<div ng-include="'template/header.html'"></div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3>MAIN：{{msg}}</h3>
        <a href="#detail">点击查看详情</a>
        <button ng-click="jump()" class="btn btn-success">跳转到起始页</button>
    </div>
    <div class="panel-body">
        <p>MSG:main</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at atque blanditiis consequatur cupiditate dolorem dolorum eaque id inventore ipsam, maxime nihil numquam quas recusandae temporibus ullam vel velit veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur ea est minus, nam necessitatibus quibusdam quisquam? Ab odit quae quas sequi? Assumenda beatae doloremque iste obcaecati omnis repellat sequi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur ea est minus, nam necessitatibus quibusdam quisquam? Ab odit quae quas sequi? Assumenda beatae doloremque iste obcaecati omnis repellat sequi!</p>
    </div>
</div>
<div ng-include="'template/footer.html'"></div>