<div ng-include="'template/header.html'"></div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>START:{{msg}}</h3>
        <a href="#main">主菜单</a>
    </div>
    <div class="panel-body">
        <p>MSG:start</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur ea est minus, nam necessitatibus quibusdam quisquam? Ab odit quae quas sequi? Assumenda beatae doloremque iste obcaecati omnis repellat sequi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur ea est minus, nam necessitatibus quibusdam quisquam? Ab odit quae quas sequi? Assumenda beatae doloremque iste obcaecati omnis repellat sequi!</p>
    </div>
</div>
<div ng-include="'template/footer.html'"></div>