<div class="alert alert-success">
    <p>Main</p>
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum cumque cupiditate dignissimos dolorem exercitationem, explicabo illum in inventore ipsa odio porro quaerat quo, reiciendis rem repudiandae sunt velit veritatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum cumque cupiditate dignissimos dolorem exercitationem, explicabo illum in inventore ipsa odio porro quaerat quo, reiciendis rem repudiandae sunt velit veritatis.
    </p>
</div>