<div ng-include="'template/header.html'"></div>
<div class="container">
    <div class="has-feedback">
        <input type="text" class="form-control" placeholder="搜索菜品名称和原料...">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
    <ul class="list-group" style="margin-top: 15px">
        <li class="list-group-item">
            <div class="media">
                <a class="media-left media-middle" href="#detail">
                    <img src="img/p0281.jpg">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">【酸甜开胃虾】</h4>
                    <p>主要食料：明虾、番茄酱、白糖、白醋、葱、姜、淀粉</p>
                    <p class="text-danger" style="border-top:1px solid #EAEAEA">￥36.00</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <a class="media-left media-middle" href="#detail">
                    <img src="img/p4788.jpg">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">【酸甜开胃虾】</h4>
                    <p>主要食料：明虾、番茄酱、白糖、白醋、葱、姜、淀粉</p>
                    <p class="text-danger" style="border-top:1px solid #EAEAEA">￥36.00</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <a class="media-left media-middle" href="#detail">
                    <img src="img/p2679.jpg">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">【酸甜开胃虾】</h4>
                    <p>主要食料：明虾、番茄酱、白糖、白醋、葱、姜、淀粉</p>
                    <p class="text-danger" style="border-top:1px solid #EAEAEA">￥36.00</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <a class="media-left media-middle" href="#detail">
                    <img src="img/p7933.jpg">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">【酸甜开胃虾】</h4>
                    <p>主要食料：明虾、番茄酱、白糖、白醋、葱、姜、淀粉</p>
                    <p class="text-danger" style="border-top:1px solid #EAEAEA">￥36.00</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <a class="media-left media-middle" href="#detail">
                    <img src="img/p7818.jpg">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">【酸甜开胃虾】</h4>
                    <p>主要食料：明虾、番茄酱、白糖、白醋、葱、姜、淀粉</p>
                    <p class="text-danger" style="border-top:1px solid #EAEAEA">￥36.00</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <a class="media-left media-middle" href="#detail">
                    <img src="img/p8489.jpg">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">【酸甜开胃虾】</h4>
                    <p>主要食料：明虾、番茄酱、白糖、白醋、葱、姜、淀粉</p>
                    <p class="text-danger" style="border-top:1px solid #EAEAEA">￥36.00</p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div ng-include="'template/footer.html'"></div>