<div ng-include="'template/header.html'"></div>
<div class="container">
    <h3 class="text-center"><b>我的订单</b></h3>
    <div class="panel panel-default">
        <table class="table table-striped orderTable">
            <tr>
                <th width="13%">编号</th>
                <th>菜品</th>
                <th>下单时间</th>
                <th>联系人</th>
            </tr>
            <tr>
                <td>5</td>
                <td><img src="img/p0281.jpg" class="img-responsive"></td>
                <td>2015-12-09 11:09</td>
                <td>雅雅</td>
            </tr>
            <tr>
                <td>4</td>
                <td><img src="img/p4788.jpg" class="img-responsive"></td>
                <td>2015-12-09 11:09</td>
                <td>雅雅</td>
            </tr>
            <tr>
                <td>3</td>
                <td><img src="img/p8489.jpg" class="img-responsive"></td>
                <td>2015-12-09 11:09</td>
                <td>雅雅</td>
            </tr>
            <tr>
                <td>2</td>
                <td><img src="img/p9138.jpg" class="img-responsive"></td>
                <td>2015-12-09 11:09</td>
                <td>雅雅</td>
            </tr>
            <tr>
                <td>1</td>
                <td><img src="img/p9210.jpg" class="img-responsive"></td>
                <td>2015-12-09 11:09</td>
                <td>雅雅</td>
            </tr>
        </table>
    </div>
</div>
<div ng-include="'template/footer.html'"></div>