<div ng-include="'template/header.html'"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="txtContact">联系人：</label>
                <input type="text" class="form-control" id="txtContact">
            </div>
            <div class="form-group">
                <label>性别：</label>
                <div class="radio">
                    <label>
                        <input type="radio" value="male">先生
                    </label>&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="radio" value="female">女士
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="txtMobile">联系电话：</label>
                <input type="text" class="form-control" id="txtMobile">
            </div>
            <div class="form-group">
                <label for="txtMobile">送餐地址：</label>
                <textarea class="form-control" id="txtAddress" rows="5"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success form-control">确定下单</button>
            </div>
        </form>
        </div>
    </div>
</div>
<div ng-include="'template/footer.html'"></div>